<?xml version="1.0"?>
<launch>
  <arg name="record_joint" default="true" />
  <arg name="record_limit" default=0  />
  <include file="$(find raspigibbon_bringup)/launch/raspigibbon_joint_publisher.launch" />
  <node pkg="rosbag" type="record" name="recorder" output="screen" required="$(arg record_joint)" args="--limit $(arg record_limit) --output-name=$(find raspigibbon_direct_teaching)/bagrec/jointlog.bag /raspigibbon/master_joint_state "/>
</launch>

